@import "../utilities/_variables";
@import "../utilities/_mixins";

.main{
    background-image:  url(assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;

    width: 100%;
    height: 100vh;



    color: $clear-color;

    margin-bottom: 64px;

    .main__mensaje{
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        text-align: left;

        padding: 0 32px;

        h2{
            font-weight: 600;
            font-size: 3rem;
            margin-bottom: 16px;
        }

        h3{
            font-size: 1.5rem;
            margin-bottom: 16px;
        }

        .btn{
            @include btn($clear-color, 0.75rem, 0.75rem);
        }
    }
}